@page
@model IndexModel
@{
    ViewData["Title"] = "Water Logger";
}

<a button type="button" class="btn btn-success" asp-area="" asp-page="/Create">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
  <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 1 1 0-2h6V1a1 1 0 0 1 1-1z"/>
</svg>
Add Record
</a>

@if (Model.Records != null && Model.Records.Any())
{
    <table id="records" class="table">
         <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Quantity
                </th>
                <th>
                </th>
            </tr>
         </thead>
         <tbody>
            @foreach(var record in Model.Records.Where(r => r != null))
            {
                <tr class="list-row">
                    <td>
                        @Html.DisplayFor(modelItem => record.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => record.Quantity)
                    </td>
                    <td>
                        <a button type="button" class="btn btn-danger" asp-page="./Delete" asp-route-id="@record.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"><path d="m5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0v6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" /> 
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                        Delete
                        </a>

                        <a button type="button" class="btn btn-warning" asp-page="./Update" asp-route-id="@record.Id">Update</a>
                        <a button type="button" class="btn btn-info" asp-page="./Edit" asp-route-id="@record.Id">Edit</a>
                    </td>
                </tr>
            }
         </tbody>
    </table>
}
else
{
    <p>No records found.</p>
}