@page
@model IndexModel
@{
    ViewData["Title"] = "Water Logger";
}

<a button type="button" class="btn btn-success" asp-area="" asp-page="/Create">
Add Record
</a>

@if (Model.Records != null && Model.Records.Any())
{
    <table id="records" class="table">
         <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Quantity
                </th>
            </tr>
         </thead>
         <tbody>
            @foreach(var record in Model.Records.Where(r => r != null))
            {
                <tr class="list-row">
                    <td>
                        @Html.DisplayFor(modelItem => record.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => record.Quantity)
                    </td>
                    <td>
                        <a button type="button" class="btn btn-danger" asp-page="./Delete" asp-route-id="@record.Id">Delete</a>
                        <a button type="button" class="btn btn-warning" asp-page="./Update" asp-route-id="@record.Id">Update</a>
                        <a button type="button" class="btn btn-info" asp-page="./Edit" asp-route-id="@record.Id">Edit</a>
                    </td>
                </tr>
            }
         </tbody>
    </table>
}
else
{
    <p>No records found.</p>
}