@page
@model IndexModel
@{
    ViewData["Title"] = "Water Logger";
}


<a button type="button" class="btn btn-success" asp-area="" asp-page="/Create">
Add Record
</a>

<table id="records" class="table">
     <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model =>Model.Records[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model =>model.Records[0].Quantity)
            </th>
        </tr>
     </thead>
     <tbody>
        @foreach(var record in Model.Records)
        {
            <tr class="list-row">
                <td>
                    @Html.DisplayFor(modelItem => record.Quantity)
                </td>
                <td>
                    <a button type="button" class="btn btn-danger" asp-page="./Delete" asp-route-id="@record.Id">Delete</a>
                      <a button type="button" class="btn btn-danger" asp-page="./Update" asp-route-id="@record.Id">Update</a>
                        <a button type="button" class="btn btn-danger" asp-page="./Edit" asp-route-id="@record.Id">Edit</a>
                </td>
            </tr>
        }
     </tbody>
</table>